body{
    padding: 0;
    margin: 5%;
    margin-left: 5vw;
    margin-right: 5vw;
    background-color: whitesmoke;
}
#titre{
    font-family: Garamond, Baskerville, Baskerville Old Face, Hoefler Text, Times New Roman, serif;
    font-size: 1.5rem;
    font-weight: bolder;
    letter-spacing: 2px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
#descri{
    font-size: large;
    letter-spacing: 2px;
}
#contain{
    display: flex;
    flex-direction: row;
}
#gauche, #droite{
    width: 42.5vw;
    height: 70vh;
}
#gauche{
    margin-right: 2.5vw;
}
#gauche img{
    width: 42.5vw;
    height: 70vh;
}
#droite{
    margin-left: 2.5vw;
}
#haut, #bas{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
#haut img, #bas img{
    width: 18.7vw;
    height: 30vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#bas{
    margin-top: 10vh;
}
#last{
    width: 90vw;
    display: flex;
    flex-direction: row;
    margin-top: 5vh;
    justify-content: space-between;
}

#right{
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    width: 25vw;
    height: 40vh;
    justify-content: space-evenly;
    border-radius: 20px;
}

#right #prix {
    margin-left: 10%;
}

#right #daty,#right #submit {
    margin: 0 auto;
}

#right #daty {
    display: flex;
    flex-direction: row;
}

#right #daty .arrivee,#right #daty .depart {
    border: 1px solid gray;
    width: 11vw;
}

#right #daty .arrivee #champ,#right #daty .depart #champ {
    margin: 0 auto;
    width: min-content;
}

#right #daty .arrivee #champ input, #right #daty .depart #champ input  {
    border: transparent;
}

#retour{
    text-align: center;
    margin-top: 2vh;
    font-size: x-large;
}
a{
    text-decoration: none;
    color: black;
}